<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="ProjectFilters" value="Project Files |*.sln;*.csproj;vue.config.js;App.vue" />
		<add key="FolderBlackList" value=".git,.vs,packages,bin,obj,properties,areas,node_modules,dist" />
		<add key="FileTypes" value=".cs,.c,.hpp,.cpp,.vue,css,.js,.cshtml,.razor" />
		<add key="MaxCopyLength" value="20000000" />
	</appSettings>
	<startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>